.btn-center {
  width: 90%;
  padding: 1%;
  margin-top:2%;
  font-size: larger;
  top: 70%;
  left: 50%;
  position:relative; 
  align-items: center;
  justify-content: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1{
  font-weight: bold;
  font-size: 300%;
}
h3{
  
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  
}
.myCanvas
{
    border: solid;
    position:absolute; 
    top:0;bottom:0;right:0;left:0; 
    margin:auto; 
}
.menuBlock
{
  border: solid;
  border-color: dimgray;
  width: 30%;
  position:absolute; 
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color:white; 
}
table, th, td { border: 5px solid black; 
  border-collapse: collapse;

}
table{
  top: 50%;
  left: 50%;
  position:relative; 
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}